.navbar {
  max-width: $content-restriction;
  margin: auto;
  height: $navbar-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__container {
  position: sticky;
  top: 0;
  z-index: $navbar-index;
  background-color: $dark-blue-75;
  backdrop-filter: blur(10px);
}

.navbar__links {
  display: flex;
  justify-content: flex-end;
  z-index: calc(#{$navbar-index} + 1);
}

.navbar__link {
  padding-left: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-transform: capitalize;
  line-height: 25px;
  color: $blue;
  z-index: calc(#{$navbar-index} + 1);
  transition: color 0.3s ease;

  &--active {
    color: $green;
    transition: color 0.3s ease;
  }
}

@media only screen and (max-width: $medium-devices) {
  .navbar__container {
    display: none;
  }
}
